@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,900;1,500;1,800&display=swap');


*{
    
    font-family: poppins, sans-serif;
}
.headerbox{
    background-color: #ededf373;
    box-shadow: 3px 6px 12px black;
    height: 50px;
    width: auto;
    

}
.studioworldlogo{
    width: 1px;
    height: 1px;
    
}
.navlinks{
    text-transform: capitalize;
    font-weight: 700;

    
}
a{
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-left: 10px;
    
}
.emptydiv{
    width: 40px;
    height: 0px;
}
.otherlinks{
    display: flex;
    margin-left: 900px;
    justify-content: space-around;
}
.try a{
    color: darkblue;
}
.subhead a:hover{
    font-weight: 900;
    color: #ff764d;

}
.subhead {
    font-weight: 900;
    

}
.mainimage{
    padding: 50px;
}
.shortexplanation{
    margin-left: 500px;
    font-weight: 900;
    margin-bottom: 300px;
    font-size: 35px;
    justify-self: center;
}
.shortexplanation1{
    margin-left: 100px;
    font-weight: 900;
    margin-bottom: 300px;
    font-size: 35px;
    justify-self: center;
}
.focussection{
    color: darkblue;
    font-weight: 900;
}
.recording{
   
   background: orange;
   margin-left: 1280px;
   margin-bottom: 80px;
   outline: 200px solid orange;
   margin-right: 100px;
   
    
}
.overlayimage{
    margin-left: 500px;
  
}
.footer{
    width: auto;
    background-color: beige;
    height: -10px;
    box-sizing: border-box;
}
.footer ,ul{
   display: block;
}
.footer, h1{
    margin-left: 50px;
    
}
